In [6]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib as mpl

In [7]:
## Dataset: rainfall.csv

#Source: Kaggle
#The dataset contains about 10 years of daily weather observations from different locations across Australia. Observations are from numerous weather stations.

#In this project, I will use this data to predict whether or not it will rain based on certain factors. There are 21 attributes in this data set

# Read the csv file into a pandas DataFrame
rainfall = pd.read_csv('./Resources/Rainfall_original.csv')
rainfall.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,1/12/2008,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8
1,2/12/2008,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,4.0,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3
2,3/12/2008,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,19.0,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2
3,4/12/2008,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,11.0,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5
4,5/12/2008,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7

In [8]:
#shape of dataframe
rainfall.shape

(145460, 21)

In [9]:
#Info of dataframe
rainfall.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
dtypes: float64(16), object(5)
memory usage: 23.3+ MB

In [12]:
#Printing rows having null values
rainfall[rainfall['Rainfall'].isnull()]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
15,16/12/2008,Albury,9.8,27.7,NaN,NaN,NaN,WNW,50.0,NaN,...,NaN,22.0,50.0,28.0,1013.4,1010.3,0.0,NaN,17.3,26.2
284,11/09/2009,Albury,NaN,18.8,NaN,NaN,NaN,N,31.0,SE,...,7.0,19.0,83.0,46.0,1022.2,1018.2,NaN,NaN,8.7,18.1
436,10/02/2010,Albury,21.7,35.6,NaN,NaN,NaN,SSW,46.0,NaN,...,NaN,15.0,64.0,28.0,1018.8,1014.7,NaN,4.0,25.2,32.9
438,12/02/2010,Albury,22.5,29.1,NaN,NaN,NaN,SW,24.0,NaN,...,NaN,11.0,81.0,67.0,1008.5,1007.8,NaN,7.0,23.4,26.4
444,18/02/2010,Albury,NaN,31.2,NaN,NaN,NaN,ESE,31.0,SSE,...,7.0,7.0,33.0,24.0,1020.4,1019.1,NaN,NaN,21.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144951,3/02/2016,Uluru,20.6,32.6,NaN,NaN,NaN,S,39.0,SE,...,24.0,13.0,50.0,32.0,1011.5,1008.7,NaN,NaN,22.6,30.0
144956,8/02/2016,Uluru,23.8,38.3,NaN,NaN,NaN,NaN,NaN,ESE,...,17.0,26.0,27.0,16.0,1015.2,1010.8,NaN,NaN,30.6,36.1
145092,23/06/2016,Uluru,14.2,18.7,NaN,NaN,NaN,NaN,NaN,W,...,9.0,NaN,81.0,67.0,1015.2,1014.6,8.0,8.0,16.6,17.5
145093,24/06/2016,Uluru,3.2,17.9,NaN,NaN,NaN,E,44.0,SE,...,11.0,20.0,83.0,39.0,1022.4,1019.0,NaN,NaN,8.8,17.2
145336,22/02/2017,Uluru,16.1,38.0,NaN,NaN,NaN,SSW,35.0,SSW,...,22.0,17.0,30.0,16.0,1011.4,1008.6,NaN,NaN,27.7,36.4

In [13]:
#Dropping rows having null values
rainfall=rainfall.dropna()

In [14]:
#updated shape of dataframe
rainfall.shape

(56564, 21)

In [15]:
rainfall.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,56564.000000,56564.000000,56564.000000,56564.000000,56564.000000,56564.000000,56564.000000,56564.000000,56564.000000,56564.000000,56564.000000,56564.000000,56564.000000,56564.000000,56564.000000,56564.000000
mean,13.461629,24.210931,2.131939,5.500362,7.730659,40.893908,15.679231,19.794622,65.884255,49.612704,1017.236203,1014.794125,4.245333,4.329821,18.197362,22.701916
std,6.413652,6.971203,7.010836,3.695019,3.759266,13.347193,8.334046,8.516470,18.503102,20.189655,6.910879,6.871731,2.796913,2.646686,6.567109,6.836978
min,-6.700000,4.100000,0.000000,0.000000,0.000000,9.000000,2.000000,2.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-0.700000,3.700000
25%,8.600000,18.700000,0.000000,2.800000,5.000000,31.000000,9.000000,13.000000,55.000000,35.000000,1012.700000,1010.100000,1.000000,2.000000,13.100000,17.400000
50%,13.200000,23.900000,0.000000,5.000000,8.600000,39.000000,15.000000,19.000000,67.000000,50.000000,1017.200000,1014.700000,5.000000,5.000000,17.800000,22.400000
75%,18.400000,29.700000,0.600000,7.400000,10.700000,48.000000,20.000000,26.000000,79.000000,63.000000,1021.800000,1019.400000,7.000000,7.000000,23.300000,27.900000
max,31.400000,48.100000,206.200000,81.200000,14.500000,124.000000,67.000000,76.000000,100.000000,100.000000,1040.400000,1038.900000,8.000000,9.000000,39.400000,46.100000

In [16]:
#Locations identified
rainfall.Location.unique()

array(['Cobar', 'CoffsHarbour', 'Moree', 'NorfolkIsland', 'Sydney',
       'SydneyAirport', 'WaggaWagga', 'Williamtown', 'Canberra', 'Sale',
       'MelbourneAirport', 'Melbourne', 'Mildura', 'Portland', 'Watsonia',
       'Brisbane', 'Cairns', 'Townsville', 'MountGambier', 'Nuriootpa',
       'Woomera', 'PerthAirport', 'Perth', 'Hobart', 'AliceSprings',
       'Darwin'], dtype=object)

In [17]:
#Most popular Australian cities 
australian_cities = ['Albury','CoffsHarbour','Newcastle','Sydney','WaggaWagga',
'Wollongong','Canberra','Ballarat','Bendigo','Melbourne','Portland','Brisbane','Cairns','GoldCoast','Townsville','Adelaide',
'Albany','Perth','Hobart','Launceston','AliceSprings','Darwin','Katherine','Uluru']

australian_weather = rainfall[rainfall.Location.isin(australian_cities)]
australian_weather.head(5)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
9058,1/01/2009,CoffsHarbour,16.1,31.4,0.0,7.4,11.4,NNE,54.0,N,...,7.0,37.0,51.0,58.0,1005.9,1002.3,1.0,5.0,26.5,28.4
9059,2/01/2009,CoffsHarbour,22.8,24.7,0.0,8.0,0.2,SSW,56.0,SSW,...,35.0,15.0,68.0,67.0,1010.9,1011.4,7.0,7.0,23.4,24.4
9060,3/01/2009,CoffsHarbour,20.0,24.1,4.6,3.4,0.2,SE,35.0,SE,...,20.0,19.0,70.0,59.0,1019.3,1018.8,8.0,7.0,21.7,23.7
9061,4/01/2009,CoffsHarbour,14.8,25.0,0.8,3.0,12.6,E,24.0,SSE,...,7.0,17.0,62.0,45.0,1019.5,1017.0,5.0,2.0,22.5,24.8
9062,5/01/2009,CoffsHarbour,15.5,27.3,0.0,6.6,13.1,NE,41.0,NW,...,7.0,30.0,54.0,62.0,1015.7,1012.7,1.0,6.0,24.6,26.1

In [18]:
australian_weather.tail(5)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
142298,20/06/2017,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0,SE,...,9.0,20.0,63.0,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3
142299,21/06/2017,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0,SE,...,13.0,11.0,56.0,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0
142300,22/06/2017,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0,E,...,17.0,11.0,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1
142301,23/06/2017,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0,SE,...,9.0,17.0,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2
142302,24/06/2017,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0,ENE,...,15.0,7.0,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0

In [19]:
#correlation of variables: correlation diagram

In [20]:
#Australia: map coordinates
australian_weather['Latitude'] = ""
australian_weather['Longitude'] = ""
australian_weather.columns

<ipython-input-20-740850714621>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  australian_weather['Latitude'] = ""
<ipython-input-20-740850714621>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  australian_weather['Longitude'] = ""

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'Latitude', 'Longitude'],
      dtype='object')

In [21]:
latitude=[]
for row in australian_weather['Location']:
    if row == 'Albury':
        latitude.append(-36.073730)
    elif row == 'CoffsHarbour':
        latitude.append(-30.296350)
    elif row == 'Newcastle':
        latitude.append(-32.926670)
    elif row == 'Sydney':
        latitude.append(-33.868820)
    elif row == 'WaggaWagga':
        latitude.append(-35.114750)
    elif row == 'Wollongong':
        latitude.append(-34.424179)
    elif row == 'Canberra':
        latitude.append(-35.282001)
    elif row == 'Ballarat':
        latitude.append(-37.549999)
    elif row == 'Bendigo':
        latitude.append(-36.757786)
    elif row == 'Melbourne':
        latitude.append(-37.840935)
    elif row == 'Portland':
        latitude.append(-38.346345)
    elif row == 'Brisbane':
        latitude.append(-27.470125)
    elif row == 'Cairns':
        latitude.append(-16.925491)
    elif row == 'GoldCoast':
        latitude.append(-28.016666)
    elif row == 'Townsville':
        latitude.append(-19.258965)
    elif row == 'Adelaide':
        latitude.append(-34.921230)
    elif row == 'Albany':
        latitude.append(-35.022778)
    elif row == 'Perth':
        latitude.append(-31.953512)
    elif row == 'Hobart':
        latitude.append(-42.880554)
    elif row == 'Launceston':
        latitude.append(-41.429825)
    elif row == 'AliceSprings':
        latitude.append(-23.700552)
    elif row == 'Darwin':
        latitude.append(-12.462827)
    elif row == 'Katherine':
        latitude.append(-14.46517)
    elif row == 'Uluru':
        latitude.append(-25.344490)
    else:
        latitude.append('Not Defined')

In [22]:
longitude=[]
for row in australian_weather['Location']:
    if row == 'Albury':
        longitude.append(146.913544)
    elif row == 'CoffsHarbour':
        longitude.append(153.115692)
    elif row == 'Newcastle':
        longitude.append(151.780014)
    elif row == 'Sydney':
        longitude.append(151.209290)
    elif row == 'WaggaWagga':
        longitude.append(147.369620)
    elif row == 'Wollongong':
        longitude.append(150.893555)
    elif row == 'Canberra':
        longitude.append(149.128998)
    elif row == 'Ballarat':
        longitude.append(143.850006)
    elif row == 'Bendigo':
        longitude.append(144.278702)
    elif row == 'Melbourne':
        longitude.append(144.946457)
    elif row == 'Portland':
        longitude.append(141.60421)
    elif row == 'Brisbane':
        longitude.append(153.021072)
    elif row == 'Cairns':
        longitude.append(145.754120)
    elif row == 'GoldCoast':
        longitude.append(153.399994)
    elif row == 'Townsville':
        longitude.append(146.816956)
    elif row == 'Adelaide':
        longitude.append(138.599503)
    elif row == 'Albany':
        longitude.append(117.881386)
    elif row == 'Perth':
        longitude.append(115.857048)
    elif row == 'Hobart':
        longitude.append(147.324997)
    elif row == 'Launceston':
        longitude.append(147.157135)
    elif row == 'AliceSprings':
        longitude.append(133.882675)
    elif row == 'Darwin':
        longitude.append(130.841782)
    elif row == 'Katherine':
        longitude.append(132.26347)
    elif row == 'Uluru':
        longitude.append(131.035431)
    else:
        longitude.append('Not Defined')

In [23]:
#add geographic location
australian_weather['Latitude'] = latitude
australian_weather['Longitude'] = longitude

<ipython-input-23-a4a6480e4533>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  australian_weather['Latitude'] = latitude
<ipython-input-23-a4a6480e4533>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  australian_weather['Longitude'] = longitude

In [24]:
australian_weather.tail(3)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,Latitude,Longitude
142300,22/06/2017,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0,E,...,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1,-12.462827,130.841782
142301,23/06/2017,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0,SE,...,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2,-12.462827,130.841782
142302,24/06/2017,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0,ENE,...,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,-12.462827,130.841782

In [25]:
#Date
from datetime import datetime
australian_weather['Date']=pd.to_datetime(australian_weather['Date'])

<ipython-input-25-46d72eb59243>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  australian_weather['Date']=pd.to_datetime(australian_weather['Date'])

In [26]:
#Convert today, month, year
australian_weather['day'] = australian_weather['Date'].dt.day
australian_weather['month'] = australian_weather['Date'].dt.month
australian_weather['year'] = australian_weather['Date'].dt.year

<ipython-input-26-ba9baa0c21d6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  australian_weather['day'] = australian_weather['Date'].dt.day
<ipython-input-26-ba9baa0c21d6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  australian_weather['month'] = australian_weather['Date'].dt.month
<ipython-input-26-ba9baa0c21d6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  australian_weather['year'] = australian_weather['Date'].dt.year

In [27]:
australian_weather.head(3)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,Latitude,Longitude,day,month,year
9058,2009-01-01,CoffsHarbour,16.1,31.4,0.0,7.4,11.4,NNE,54.0,N,...,1002.3,1.0,5.0,26.5,28.4,-30.29635,153.115692,1,1,2009
9059,2009-02-01,CoffsHarbour,22.8,24.7,0.0,8.0,0.2,SSW,56.0,SSW,...,1011.4,7.0,7.0,23.4,24.4,-30.29635,153.115692,1,2,2009
9060,2009-03-01,CoffsHarbour,20.0,24.1,4.6,3.4,0.2,SE,35.0,SE,...,1018.8,8.0,7.0,21.7,23.7,-30.29635,153.115692,1,3,2009

In [28]:
australian_weather.to_excel(r'Resources\ausweathercleaned.xlsx', index = False)